html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  font-size: 1.5em;
  margin-top: -10px;
}

/*//////////////////////////////////////////////////////////////////
                   header*/

header {
  position: relative;
  width: 100%;
  left: 0px;
  right: 0px;

}

header a {
  font-family: Courier;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

header a.visited {
  color: black;

}

#header-title {
  position: relative;

  padding-top: 2%;
  padding-bottom: 2%;
}

#header-title a {
  position: relative;
  font-size: 2em;
  left: 1em;

}

#main-nav {
  position: absolute;
  background-color: #52527a;
  display: inline;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  width: 100%;

}

#main-nav a {
  position: relative;
  color: #fff;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

#container {

  position: relative;
  font-size: 0.5em;
  float: right;
  bottom: 4em;
  right: 2em;

}

#container li {
  position: relative;
  right: 2em;
  display: inline;
}

/*//////////////////////////////////////////////////////////////////
                   Main Section*/

#main-article {
  font-size: 0.8em;
  margin: 8% 2% 1% 2%;
  /*border: 1px solid black;*/
}

#main-article .container {
  /*border: 1px solid black;*/
  margin-top: 2em;
  width: 80%;
}

#myself-img {
  position: relative;
  width: 25%;
  left: 1.5em;
  padding-right: 2em;
  border-right: 5px solid black;
}

#about-me {
  position: relative;
  width: 60%;
  float: right;
  top: 3em;
  right: 3em;
}

.about-text {
  font-size: 1.2em;
  text-align: right;
  position: relative;
  border-right: 5px solid black;
  width: 20%;
  left: 3.5em;
  top: 5em;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 2em;
  margin-bottom: 5em;
}

.about-text-table {
  position: relative;
  /*border: 1px solid black;*/
  margin: auto;
  margin-left: 34%;
  width: 50%;
  bottom: 5em;

}

/*#main-article h1 {
  text-align: center;
  color: black;
}*/

.author {
  text-align: center;
  font-size: 0.6em;
}

/*//////////////////////////////////////////////////////////////////
                   Footer*/

footer {
  position: absolute;
  width: 100%;
  height: 5em;
  background-color: #333333;
  text-align: center;
  font-size: 0.9em;
}

footer p {
  position: relative;
  top: 2em;
  color: #8c8c8c;
}

footer a {
  color: #8c8c8c;
}

