
.blog-nav a {
    padding: 0.3279979008134348%;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-left: 3.2799790081343476%;
    float: left;
}
.blog-nav a:hover {
  background-color: #e6e6e6;
}
.blog-nav a:visited {
  color: black;
}
/*                       Body
/////////////////////////////////////////////////////////////*/

.main-section h1 {
  font-size: 3em;
}

.main-section img {
  border: 1px solid black;
  height: 60%;
  width: 60%;
}

.main-section em {
  font-size: 1.5em;
  color: #800000;
}


.back-forth {
  position: relative;
  padding: 20px;
}

.back-forth a {
  border: 1px solid black;
  text-decoration: none;
  padding: 0.3279979008134348%;
  border-radius: 10px;

  margin-left: 1.9679874048806088%;
  margin-top: -2.6239832065074783%;
  position: absolute;
  background-color:
}

#back-forth-2 {
  border: 1px solid black;
  text-decoration: none;
  padding: 0.3279979008134348%;
  margin-left: 8.527945421149304%;
  margin-top: -2.6239832065074783%;
  position: absolute;
}