/** {
  border: 2px dashed black;
}*/
.wrapper {
  margin: -8px auto;
  width: 98%;
  color:black;
}

body {
  margin-bottom: -5px;
}


/*                  HEADER
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header {
  background-color: #f2f2f2;
  margin-top: -1.594387755102041%;
  margin-right: -0.63775510204081625%;
  margin-left: -0.63775510204081625%;
  margin-bottom: -1.992984693877551%;
  position: relative;
  padding-bottom: 13.552295918367346%;

}

header div {
  position: absolute;
  width: 300px;
  margin-top: 70px;
  margin-left: 160px;
}

.avatar {
  position: absolute;
  margin-top: 33px;
  margin-left: 45px;
  height: 100px;
  width: 100px;
  border-radius: 100%;

}

.avatar img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 3px solid #bfbfbf;
}

.name {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}

.name:hover {
  color: #2481ff;
}

a:visited {
  color: #000000;
}

hr {
  border: 2px solid black;
  margin-left: -8px;
  margin-right: -8px;
}

.nav-1 a {
  border-radius: 10px;
  margin-left: 5.5803571428571425%;
  margin-bottom: 3.188775510204082%;
  display: inline-block;
  padding: 2.391581632653061%;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;

}
.nav-1 a:hover {
  background-color: #e6e6e6;
}
.nav-1 a:visited {
  color: black;
}


/*                  Main
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.main-section {
  /*border: 2px dashed black;*/
  margin: 3.188775510204082%;
}



.main-section h3 {
  font-size: 1.5em;
}

.main-section a {
  text-decoration: none;
  font-size: 1.25em;
}
.main-section a:visited {
  color: #0000ff;
}

.nav-2 a {
  /*border: 2px solid #b3b3b3;*/
  display: inline-block;
  padding: 1.594387755102041%;
  margin-left: 11.957908163265306%;
  margin-top: 2.391581632653061%;
  margin-bottom: 2.391581632653061%;
  text-decoration: none;
  border-radius: 10px;
  background-color: #b3ecff;
}
.nav-2 a:hover {
  background-color: orange;
}
.nav-2 a:visited {
  color: black;
}



/*                  Footer
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

footer {
  padding: 3.985969387755102%;
  background-color: #2a2a2a;
  margin-left: -0.63775510204081625%;
  margin-right: -0.63775510204081625%;
}

footer p {
  color: #ffffff;
}

footer a {
  color: #ffffff;
}
